body{
    overflow: hidden;
    padding: 0;
    margin: 0;  
    font-family:'Emulogic', sans-serif!important;
    background-image: url(imgs/scene/consola_sega.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #7B8DC2;
    width: 100%;
    height: 100dvh;
}
canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    border-radius: 43px;
}
